.foto-perfil {
    width: 25%;
}

.subtitulo,
.nombre {
    font-weight: 600;
}


.titulo-pregunta {
    color: #35bcf1;
    font-weight: 600;
    line-height: 1.3;
}

.sobre-mi {
    line-height: 1.8rem;
    margin-top: 0.5%
}