.foto-perfil {
    width: 30%;
    margin-top: 50px;
}

@media screen and (max-width: 640px) {
    .foto-perfil{
        width: 85%;
        display: block;
        margin: 1.5rem;
    }

    .sobre-mi{
        text-align: start;
    }

    
}

.subtitulo,
.nombre {
    font-weight: 600;
}


.titulo-pregunta {
    color: #35bcf1;
    font-weight: 600;
    line-height: 1.3;
    
}

.sobre-mi {
    line-height: 1.8rem;
    margin-top: 0.5%
}