.foto-perfil {
    width: 30%;
}

@media screen and (max-width: 640px) {
    .foto-perfil{
        width: 95%;
    }

    .subtitulo{
        text-wrap: balance;
    }

    
}

.subtitulo,
.nombre {
    font-weight: 600;
}


.titulo-pregunta {
    color: #35bcf1;
    font-weight: 600;
    line-height: 1.3;
    
}

.sobre-mi {
    line-height: 1.8rem;
    margin-top: 0.5%
}